<!--Citation for booksCheckouts.hbs:
Date: 05/17/2024
Copied steps 4-8 from nodejs-starter-app
Authors (github username): gkochera, Cortona1, currym-osu, dmgs11
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main
-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- display booksCheckouts using a table-->
{{!-- Create a table --}}
<h2>Books in Checkouts</h2>
<table id = "books-checkouts-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th align="left">Book Checkout ID</th>
            <th align="left">Checkout ID</th>
            <th align="left">Book ID</th>
            <th align="left">Date Returned</th>
            <th align="left">Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the booksCheckoutsID, bookID, checkoutID, and dateReturned in order --}}
        {{#each data}}
        <tr>
            <td>{{this.booksCheckoutsID}}</td>
            <td>{{this.checkoutID}}</td>
            <td>{{this.bookID}}</td>
            {{#if this.dateReturned}}
            <td>{{moment this.dateReturned format = "MM-DD-YYYY"}}</td>
            {{else}}
            <td>Checked Out</td>
            {{/if}}
            <td><button onclick="deleteBookinCheckout({{this.booksCheckoutsID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_book_in_checkout.js"></script>


<nav class="navbar-forms">
        <a href="#" onclick="showDiv('add-book-checkout')">Add Book to Checkout</a>
        <a href="#" onclick="showDiv('update-book-checkout')">Update Book in Checkout</a>
        <a href="#" onclick="showDiv('update-return-date')">Update Book Return Date</a>
</nav>


<!-- INSERT a new bookCheckout using an HTML form with POST 
Gather book and checkout with input from dropdown fields 
Gather dateReturned as date input-->
<div id="add-book-checkout" hidden>
<h2>Add a Book to a Checkout</h2>
<p>To add a book to a checkout, please enter its information below and click `Submit`!</p>
<form id="add-bookCheckout-form" method="POST" action="/add-bookCheckout-form">
    <label for="input-book">Book: </label>
    <select name="input-book" id="input-book-ajax">
        <option value="">Select a Book</option>
        {{#each books}}
        <option value="{{this.bookID}}">{{this.bookTitle}}</option>
        {{/each}}
    </select>
    
    <label for="input-checkout">Checkout: </label>
    <select name="input-checkout" id="input-checkout-ajax">
        <option value="">Select a Checkout</option>
        {{#each checkouts}}
        <option value="{{this.checkoutID}}">{{this.checkoutID}}</option>
        {{/each}}
    </select>

    <label for="input-dateReturned">Date Returned: </label>
    <input type="date" name="input-dateReturned" id="input-dateReturned">
    
    <p>
    <input type="submit">
    </p>
</form>
</div>

<!-- UPDATE a Book in Checkout -->
<div id="update-book-checkout" hidden>
<h2>Updating A Book in a Checkout</h2>
<p>To update a book in a Checkout, please select the Book Checkout ID and fill in the corresponding forms, then click 'Submit'!</p>
<form id="update-book-in-checkout-form-ajax">

    <label for="input-booksCheckoutID">Book Checkout ID: </label>
    <select name="input-booksCheckoutID" id="mySelect">
        <option value="test">Select a Checkout</option>
        {{#each data}}
        <option value="{{this.booksCheckoutsID}}">{{this.booksCheckoutsID}}</option>
        {{/each}}
    </select>

    <label for="input-book">Book: </label>
    <select name="input-book" id="input-book-update">
        <option value="">Select a Book</option>
        {{#each books}}
        <option value="{{this.bookID}}">{{this.bookTitle}}</option>
        {{/each}}
    </select>
    <p></p>
    <input type="submit">

</form>
</div>

<script src="./js/update_book_in_checkout.js"></script>

<!-- UPDATE a Return Date for a Book in Checkout -->
<div id="update-return-date" hidden>
<h2>Updating A Return Date in a Checkout</h2>
<p>To update the return date, please select the Book Checkout ID and fill in the corresponding forms, then click 'Submit'!</p>
<form id="update-return-in-checkout-form-ajax">

    <label for="input-booksCheckoutID">Book Checkout ID: </label>
    <select name="input-booksCheckoutID" id="bookCheckoutID">
        <option value="test">Select a Checkout</option>
        {{#each data}}
        <option value="{{this.booksCheckoutsID}}">{{this.booksCheckoutsID}}</option>
        {{/each}}
    </select>
    
    <label for="input-dateReturned">Date Returned: </label>
    <input type="date" name="input-dateReturned" id="input-dateReturned-update" required>
    <p></p>
    <input type="submit">

</form>
</div>
<script src="./js/update_return_in_checkout.js"></script>
